################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RoseaAPI/Logs/roseaapi-20260404.json
/RoseaAPI/Logs/roseaapi-20260405.json
