<h2>Consultar pedido</h2>

<form id="formConsulta">

    <input name="pedidoId" placeholder="ID Pedido" required />
    <input name="apellido" placeholder="Apellido" required />

    <button>Consultar</button>

</form>

<div id="resultado"></div>

<script type="module" src="~/js/pedidoConsulta/main.js"></script>